body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}


.text-big {
	font-size: $big-font;
}

.hide {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Inconsolata', monospace;
}


.menu {
	display: none;


	width: 20vw;
	height: calc(100vh - 150px);
	position: fixed;
	top: 150px;
	right: 0;
	background-color: $base-color;
	z-index: +1;

	ul {
		position: absolute;
    	z-index: +100;
		
		list-style-type: none;

		li {
			font-size: 40px;

			a {
				color: $second-text-color;
			}
		}
	}
}