header {
	background-color: $base-color;
	width: 100%;
	height: 150px;
	position: fixed;
	z-index: 2;
	.container {
		// position: relative;

		.header__logo {
			display: inline-block;
			width: 20%;
			padding: 10px 0;
			max-width: 20%;
			min-width: 13%;
			transition: 0.2s;

			img {
				width: 60%;
			}
		}

		.burger__icon {
			padding-top: 10px;
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}
}

// burger
.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; 
}

.hamburger:hover {
	opacity: 0.7; 
}

.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -8px;
}

.hamburger-inner::after {
    bottom: -8px;
}


.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }


// banner
.banner {
	width: 100%;
	height: 100px;
	background-size: 100% auto;
	position: absolute;
	top: 150px;
	z-index: 1;

	.container {


		h1 {
			line-height: 100px;
			color: #fff;
			z-index: 3;
			position: absolute;
			font-family: 'Inconsolata', monospace;
			font-size: 44px;
		}
	}
}

.banner.banner-content {
	z-index: unset;
	pointer-events: none;
}


.banner.banner-content.fixed {
	position: fixed !important;
	top: 70px;
	z-index: 9;
}


.smaller {
    height: auto !important;
    width: 13% !important;
}

