main {
	padding-top: calc(150px + 100px + 80px);
}

.quoteBar {
	background-color: $base-color;
	margin: 80px 0;
	position: relative;

	.quoteBar__img {
		img {
			width: 100%;
			margin-top: -19px;
		}
	}

	.quoteBar__text {
		padding: 20px 0;
		display: flex;
    	align-items: center;

    	p {
    		color: #fff;
    		text-shadow: 2px 2px 2px #000;
    	}
	}
}

main.fees {

	background-position: top left;
	background-size: 85%; 
	background-repeat: no-repeat;

		.fees p {
			font-size: $big-font;
			margin: 0;
		}
}