@media screen and (max-width: 1200px) {
	.quoteBar .quoteBar__img img {
		margin-top: -16px;
	}

	main.fees {



		.fees {

			.row {

				padding: 5px 0;

				p {
					font-size: 18px;
				}
			}
		}
	}
}


@media screen and (max-width: 1024px) {
	.menu {
		width: 30vw;
	}
}

@media screen and (max-width: 992px) {
	header {
		height: 120px;
	}

	.menu {
		width: 40vw;
		height: calc(100vh - 120px);
		top: 120px;
	}

	.banner {
		top: 120px;
	}

	main {
		padding-top: calc(120px + 100px + 80px);
	}

	.banner.banner-content.fixed {
		top: 40px;
	}

	.quoteBar {

		.quoteBar__img {

			img {
	    		margin-top: -16px;
			}
		}
	}

	main.fees .fees .row p {
    	font-size: 14px;
	}
}


@media screen and (max-width: 768px) {
	header {
		height: 100px;
	}

	.banner {
		height: 70px;
		top: 100px;
	}

	.menu {
		height: calc(100vh - 100px);
		top: 100px;
	}

	.banner .container h1 {
		line-height: 70px;
	}

	.banner.banner-content.fixed {
		top: 30px;
	}

	main {
		padding-top: calc(110px + 70px + 40px);
	}

	.quoteBar {

		.quoteBar__img {

			img {
	    		margin-top: -11px;
			}
		}
	}
}



@media screen and (max-width: 575px) {

	.menu {
		width: 100vw;
		height: calc(100vh - 100px);
		top: 100px;
		z-index: 10000;
	}

	.quoteBar .quoteBar__img img {
	    margin-top: -19px;
	    opacity: 0.5;
	}

	.quoteBar .quoteBar__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		padding: 20px;
	}

}


@media screen and (max-width: 414px) {
	header .container .header__logo img {
	    width: 90%;
	}

	.banner.banner-content.fixed {
		top: 40px;
	}

	.banner {

		.container {
			h1 {
				font-size: 34px;
			}
		}
	}

	.quoteBar .quoteBar__img img {
		margin-top: -13px;
	}

	.text-big {
		font-size: 24px;
	}
}




@media screen and (max-width: 375px) {
	.quoteBar .quoteBar__img img {
		margin-top: -12px;
	}

	.text-big {
		font-size: 22px;
	}
}




@media screen and (max-width: 360px) {
	.text-big {
		font-size: 20px;
	}
}



@media screen and (max-width: 320px) {
	.text-big {
		font-size: 18px;
	}
}






